:root {
    --cor1:  #dabdb5;
    --cor2:  #ae565a;
    --cor3:  #24344c;
    --cor4:  #f69c75;
    --cor5:  #f24c6a;
}

#contatos {
    height: 45vh;
    margin-bottom: 150px;
    
}

.conteudo-contatos {
    text-align: center;
    line-height: 30px;
}

.link-contatos {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.link-contatos a {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 3px 5px 5px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 140px;
    position: relative;
    height: 40px;
}

.link-contatos a:hover {
    transition: 0.5s;
    color: var(--cor4);
}


.link-contatos img {
    padding: 20px;
    width: 35%;
}

@media (max-width: 999px) {
    #contatos {
        height: 30vh;
    }
}