:root {
    --cor1:  #dabdb5;
    --cor2:  #ae565a;
    --cor3:  #24344c;
    --cor4:  #f69c75;
    --cor5:  #f24c6a;
}


#experiencias p {
    line-height: 33px;
}

#experiencias h2 {
    text-align: center;
}

.experiencia01 {
    background-color: var(--cor4);
    padding: 40px;
    text-align: center;
    background: #0000007e;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 10px;
    margin-bottom: 50px;
}

.experiencia01 > img {
    width: 10%;
    margin-top: 15px;
}

.experiencia02 {
    background-color: var(--cor4);
    padding: 40px;
    text-align: center;
    background: #0000007e;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 10px;
}

.experiencia02 > img {
    width: 10%;
    margin-top: 15px;
}

.nome-empresa {
    color: var(--cor4);
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}