@font-face {
    font-family: 'kat';
    src: url('../fontes/Katanf.ttf') format('truetype');
}

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor1:  #dabdb5;
    --cor2:  #ae565a;
    --cor3:  #24344c;
    --cor4:  #f69c75;
    --cor5:  #f24c6a;
}

body {
    background-color: var(--cor3);
}



h1, h2, h3 {
    color: var(--cor5);
}

a {
    color: var(--cor1);
    text-decoration: none;
}