:root {
    --cor1:  #dabdb5;
    --cor2:  #ae565a;
    --cor3:  #24344c;
    --cor4:  #f69c75;
    --cor5:  #f24c6a;
}

.caixa-habilidades {
    display: grid;
    grid-template-columns: 200px 200px;
    margin-left: 10px;
}