#inicio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20%;
    background-image:linear-gradient(rgba(17, 17, 17, 0.658), rgba(20, 20, 20, 0.384)), url(../img/fundo_jp.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 30px;
    height: 80vh;
}

.inicio_class {
    margin-left: 20px;
}

#inicio > img {
    width: 85%;
    margin: auto;

}

