:root {
    --cor1:  #dabdb5;
    --cor2:  #ae565a;
    --cor3:  #24344c;
    --cor4:  #f69c75;
    --cor5:  #f24c6a;
}

#inicio {
    background-image:linear-gradient(rgba(17, 17, 17, 0.658), rgba(20, 20, 20, 0.384)), url(../img/fundo_jp.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 2% 0;
    
}

.inicio-h {
    max-width: 600px;
}

.inicio-h > h1 {
    display: flex;
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.inicio-h > h3{
    font-size: 32px;
    font-weight: 700;
}

/* dá um espaçamento em margem no link do h3 (gambiarra) */
.inicio-h3-space-link  {
    margin-bottom: 15px;
}

.inicio-h > h3 span {
    color: var(--cor4);
}

.link-inicio {
    display: flex;
    
}

#inicio a {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 3px 5px 5px;
    justify-content: space-evenly;
    width: 140px;
    position: relative;
    margin-top: 1rem;
    background-color: #24344c9a;
    font-weight: 600;
    font-size: 0.95rem;
    letter-spacing: 1.5px;
    height: 40px;
}

.inicio-img > img {
    max-width: 450px;
}

/* Possível erro que está gerando uma barra do body lateral */

.flutuar {
    animation: flutuar 3s ease-in-out infinite;
}

/* Keyframes para a animação de flutuação */
@keyframes flutuar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Ajuste a altura da flutuação conforme necessário */
    }
    100% {
        transform: translateY(0);
    }
}

#inicio a {
    margin-left: 10px;
    border: 1px solid var(--cor4);
    border-radius: 5px;
    padding: 10px;
}

#inicio a:hover {
    color: var(--cor4);
    background-color: var(--cor5);
    transition: 1s;
    border: 1px solid var(--cor3);
}

@media (max-width: 999px) {
    .inicio-h {
        margin: 0 auto;
        text-align: center;
    }

    .inicio-h h1{
        display: block;
        text-align: center;
    }

    .inicio-h3-space-link {
        text-align: center;
    }

    .inicio-img > img {
        display: none;
    }
    
    .link-inicio {
        display: flex;
        margin: 0 auto;
        align-items: center;
        flex-direction: column;
    }
}
