#inicio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20%;
    background-image: url('');
    background-position: 100%;
    background-repeat: no-repeat;
    color: black;
    padding: 30px;
}

.inicio_class {
    margin-left: 20px;
}

#inicio > img {
    width: 50%;
    margin: auto;
}

