:root {
    --cor1:  #dabdb5;
    --cor2:  #ae565a;
    --cor3:  #24344c;
    --cor4:  #f69c75;
    --cor5:  #f24c6a;
}

.projetos__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    margin-bottom: 5rem;
}


