:root {
    --cor1:  #dabdb5;
    --cor2:  #ae565a;
    --cor3:  #24344c;
    --cor4:  #f69c75;
    --cor5:  #f24c6a;
}

#sobre-mim {
    margin-left: 12px;
    margin-right: 10px;

}

#sobre-mim > h2 {
    text-align: center;
    display: block;
}

#sobre-mim > h3 {
    text-align: center;
}

.my-foto{
    width: 300px;
    display: flex;  
    justify-content: center;
    margin: auto;
    align-items: center;
}

.caixa-sobre-mim {
    background-color: var(--cor4);
    border-radius: 10px;
    padding: 40px;
}

.caixa-sobre-mim p {
    color: var(--cor3);
}
