:root {
    --cor1:  #dabdb5;
    --cor2:  #ae565a;
    --cor3:  #24344c;
    --cor4:  #f69c75;
    --cor5:  #f24c6a;
    --cor6: #fff;
}

#sobre-mim {    
    margin-bottom: 50px;
    margin-top: 20px;
    height: 100vh;
}

#sobre-mim > h2 {
    text-align: center;
    font-style: 80px;
    margin-top: 20px;
}

.my-foto{
    width: 500px;
    display: flex;  
    justify-content: center;
    margin: auto;
    align-items: center;
}

.caixa-sobre-mim {
    background-color: var(--cor4);
    padding: 40px;
}

.caixa-sobre-mim h3{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.caixa-sobre-mim p {
    color: var(--cor6);
    background-color: var(--cor5);
    border-radius: 10px;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}


.habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 999px) {
    .my-foto {
        width: 400px;
    }
}